<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <link rel = 'stylesheet' href = 'dbstyles.css'>
</head>
<body>
    <nav class = 'navbar'>
        
        <div class = 'navtitle'>Invitee</div>
        <div class = 'navitem' >
            <!-- <input type="text" class="searchbox" name="search" placeholder="Search for articles"> -->
            <!-- <button type="submit" class="searchButton">GO -->
            <!-- </button> -->
            <!-- <a href="/profile"><button class = "btn">Profile</button></a> -->
            <a href="/invite"><button class = "btn">New Invitation</button></a>
            <a href="/"><button class = "btn">LogOut</button></a>
        </div>
                
    </nav>
    
    <p>No more events :(</p>
    
</body>
</html>