<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitee</title>
    <link rel = 'stylesheet' href = 'indexstyles.css'>
</head>
<body>
    <nav class = 'navbar'>
        
        <div class = 'navtitle'>URInvited.com</div>
        <div class = 'navitem' >
            <a href="login"><button>LogIn</button></a>
            <a href="signup"><button>SignUp</button></a>
        </div>
                
    </nav>
    <div class = 'intro'>
        <p>Welcome to URInvited.com !!</p>
        <p>Draft amazing invitations for your celebrations...</p>
        <p>LogIn or SignUp to start celebrating!!</p>
    </div>
    

 
</body>
</html>