body {
    background: greenyellow ;	
}

.navbar{
    background-color: #333;
    color: wheat;
}

.navitem{
    float: right;
}

.btn{
    color: #333;
    background-color: greenyellow;
    font-size: 20px;
    padding: 10px;
    margin: 40px 20px;
    border: 2px solid wheat;
    border-radius: 5px;
    cursor: pointer;
}

.navtitle{
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 1px greenyellow; 
    border: 2px solid wheat;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}


p, h1, div.desc, .body{
    color: #333;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    padding: 20px;
    line-height: 75px;
    text-shadow: 1px 1px wheat;
}

h1 {
    color: wheat;
    text-align: left;
    line-height: 30px;
    text-shadow: 2px 2px #333;
    display: inline-block;

}

.i{
    color: #333;
    text-shadow: 2px 2px wheat;
}

.desc, div.desc, .body{
    color: #333;

    text-align: left;
    font-size: 22px;
    line-height: normal;
    padding: 0px;
    padding-left: 20px;

}

.accept{
    margin-left:20px;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
    color: wheat;
    background-color: green;
    margin-bottom: 20px;
}
.reject{
    padding: 5px;
    color: wheat;
    font-size: 15px;
    border-radius: 3px;
    background-color: red;
}

.body{
    text-align: left;
    font-size: 20px;
}

a{
    text-decoration: none;
}